.ItemListContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 4vh;
	background-color: rgb(255, 255, 255);
	width: 99%;
	min-height: 30vh;
	border: 10px solid rgb(179, 179, 177);
}

.ItemListContainer h1{
	color: rgb(97, 45, 45);
}