.ItemListContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	justify-items: center;
	background-color: rgb(255, 255, 255);
	width: 99%;
	border: 10px solid rgb(179, 179, 177);
	border-radius: 25px;
}

.ItemListContainer h1{
	color: rgb(97, 45, 45);
}